# Filter, Drop Nulls, Dedupe

In [2]:
# load datasets
import pandas as pd

#pip install pandas


df = pd.read_csv('world-health-organization-who-situation-reports.csv')

In [3]:
#show the first five lines 
df.head(5)

         date     location  new_cases  new_deaths  total_cases  total_deaths
0  2020-02-25  Afghanistan        NaN         NaN          1.0           NaN
1  2020-02-26  Afghanistan        0.0         NaN          1.0           NaN
2  2020-02-27  Afghanistan        0.0         NaN          1.0           NaN
3  2020-02-28  Afghanistan        0.0         NaN          1.0           NaN
4  2020-02-29  Afghanistan        0.0         NaN          1.0           NaN

In [ ]:
#show the last five lines

In [ ]:
# view dimensions of the dataset

## Filter by Location

In [ ]:
# show all location possibilities

In [ ]:
# filter datasets for deaths in Italy, Germany and save them to new dataset
df_germany = 
df_germany.head()

In [ ]:
df_italy = 
df_italy.head(2)

## From this point work only on Germany dataset

In [ ]:
# view missing value count for each feature in 2008

#### we notice that new_deaths and new_cases are almost missing value and we don't need them, so drop the colums

In [ ]:
## view dimensions of germany dataset

In [ ]:
#show the unique values of 'new_cases'

In [3]:
# drop the abovementioned columns form the dataset

In [ ]:
## check the dimensions of the dataset, it shpuld be smaller than before

## Drop Rows with Missing Values

In [ ]:
# view missing value count

In [ ]:
# drop rows with any null values in both datasets

In [ ]:
## check the dimensions of the dataset, it shpuld be smaller than before

## Dedupe Data

In [ ]:
# print number of duplicates in the dataset

In [ ]:
# drop duplicates from the dataset

In [ ]:
# print number of duplicates again to confirm dedupe - should both be 0

In [ ]:
## check the dimensions of the dataset, it shpuld be smaller than before

In [ ]:
# save progress for the next section
df_germany.to_csv('data_germany_cleaned.csv', index=False)